/*General*/

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

section {
  display: flex;
  width: 100%;
}

.feature-content {
  width: 60%;
  padding: 2rem 1.5rem;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 2rem 0;
}

.sidebar-block {
  display: flex;
  padding: 1rem;
}

.image-container {
  width: 35%;
}

img {
  width: 100%;
  height: auto;
}

.sidebar .text-content {
  width: 65%;
}

.text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 1rem 1.5rem 1rem;
}

.text-content span {
  padding: 0.5rem 0;
}

.flex {
  flex-direction: column;
}

h1 {
  font-size: 2.25rem;
  font-weight: bold;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  padding-top: 2rem;
  text-align: center;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

p {
  font-size: 0.9rem;
}

@media only screen and (max-width: 768px) {
  section  {
    flex-direction: column;
  }
}

/*Header*/

header {
  position: fixed;
  width: 100%;
  height: 4rem;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid black;
}

header .logo {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
}

.logo span {
  text-transform: uppercase;
}

#academy {
  color: grey;
}

nav ul {
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
}

nav a {
  padding: 0 0.5rem;
  text-decoration: none;
  color: black;
}

nav img {
  height: 2rem;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 768px) {
  .logo.desktop,
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
    width: 100%
  }

  .mobile ul {
    justify-content: space-around;
  }
}

/*Start Learning Section*/

section.learning {
  padding-top: 4rem;
  background-color: lightgrey;
}

.learning .sidebar {
  justify-content: center;
}

.content {
  align-items: center;
  padding: 2rem 1rem;
}

.sidebar .content p {
  font-size: 1.5rem;
  padding: 2rem 0;
}

.button {
  font-size: 1.25rem;
  background-color: gray;
  color: white;
  text-align: center;
  padding: 0.5rem 0;
  border-radius: 10px;
}

@media only screen and (max-width: 768px) {
  .feature-content,
  .sidebar {
    width: 100%;
    padding: 0;
  }
}

/*Information Section*/

.information .feature-content {
  border-right: 1px solid lightgrey;
}

.information h2 {
  padding-bottom: 1.5rem;
  text-align: left;
}

.information p {
  padding-top: 2rem;
}

@media only screen and (max-width: 768px) {
  section.information {
    padding: 1rem 0 0.5rem 0;
  }
  .information .feature-content {
    display: none;
  }

  .feature-text {
    display: none;
  }

  .sidebar-block {
    flex-direction: column;
    padding: 0 1rem;
  }

  .sidebar .text-content {
    width: auto;
  }

  .image-container {
    width: 100%;
  }
}

/*Courses Section*/

section.courses {
  background-color: lightgrey;
}

.courses-container {
  display: flex;
  padding: 1rem 3.5rem;
  flex-wrap: wrap;
  justify-content: space-around;
}

.course {
  width: 30%;
  margin: 1rem;
  background-color: white;
}

@media only screen and (max-width: 768px) {
  section.courses {
    background-color: whitesmoke;
  }

  .courses-container {
    padding: 1rem 1rem 1.5rem 1rem;
  }

  .course {
    width: 100%;
    background-color: lightgrey;
    margin: 0 0 0.5rem 0;
  }

  .course img,
  .course .text-content span {
    display: none;
  }
}

/*Thesis Section*/

.thesis-container {
  display: flex;
}

.thesis-container h3 {
  padding: 1.5rem 0 0.5rem 0;
}

@media only screen and (max-width: 768px) {
  .thesis-container .sidebar {
    display: none;
  }

  .thesis-container {
    padding: 1rem 0 1.5rem 0;
  }
}

/*Footer*/

footer {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  padding-top: 1rem;
  border-top: 1px solid lightgrey;
}

footer p {
  padding-left: 1.5rem;
}

footer nav a {
  font-size: 0.9rem;
}

@media only screen and (max-width: 768px) {
  footer {
    padding-bottom: 1rem;
  }
}
